force-app/main/default/flows/Get_Jooble_Jobs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Input Keyword &amp; location to pull up relevant jobs.</description>
        <name>Get_Jooble_Jobs</name>
        <label>Get Jooble Jobs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>HttpRequestToJooble</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>keywordInput</name>
            <value>
                <elementReference>Keyword</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>locationInput</name>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HttpRequestToJooble</nameSegment>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Get Jooble Jobs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Jooble Jobs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>What_Kind_of_Job_Where</name>
        <label>What Kind of Job &amp; Where</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Jooble_Jobs</targetReference>
        </connector>
        <fields>
            <name>Keyword</name>
            <dataType>String</dataType>
            <fieldText>Keyword</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location</name>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Kind_of_Job_Where</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
